body#options_page {
  background-color: #eee;
  color: #333;
  width: 1000px;
  min-height: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin: 0 auto;
}
body#options_page a {
  color: #08c;
  text-decoration: none;
}
body#options_page a:hover {
  color: #0074ad;
}
#message {
  font-size: 15px;
  position: absolute;
  top: 20px;
  left: 20%;
}
#message .info,
#message .success,
#message .warning,
#message .error {
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
}
#message .info {
  background-color: #d9edf7;
  border-color: #bee9f1;
  color: #3a87ad;
}
#message .success {
  background-color: #dff0d8;
  border-color: #d7eac8;
  color: #468847;
}
#message .warning {
  background-color: #fcf8e3;
  border-color: #fbefd6;
  color: #c09853;
}
#message .error {
  background-color: #f2dede;
  border-color: #eed4d8;
  color: #b94a48;
}
button {
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  display: inline-block;
  height: 25px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  padding: 6px;
  border: 1px solid #555;
}
button.danger {
  background-color: #ee5f5b;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
}
button:hover {
  border-color: #999;
  background-image: none;
}
#options_page table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
#options_page .table {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#options_page .table thead th {
  vertical-align: bottom;
}
#options_page .table th {
  font-weight: bold;
}
#options_page .table th:nth-child(-n + 4) {
  background-image: url("../img/sort_arrows.gif");
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
#options_page .table tbody > tr:nth-child(odd) > td,
#options_page .table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
#options_page .table tbody tr.success > td {
  background-color: #dff0d8;
}
#options_page .table tbody tr.error > td {
  background-color: #f2dede;
}
#options_page .table tbody tr.warning > td {
  background-color: #fcf8e3;
}
#options_page .table tbody tr.info > td {
  background-color: #d9edf7;
}
#options_page .table th,
#options_page .table td {
  height: 25px;
  padding: 2px 10px;
  line-height: 15px;
  text-align: left;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
#options_page select,
#options_page textarea,
#options_page input[type="text"],
#options_page input[type="url"],
#options_page input[type="search"] {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  line-height: 15px;
  background-color: #fff;
  font-size: 12px;
  color: #555;
  padding: 4px 6px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
#options_page select:focus,
#options_page textarea:focus,
#options_page input[type="text"]:focus,
#options_page input[type="url"]:focus,
#options_page input[type="search"]:focus {
  border-color: #f00;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#options_page select {
  height: 25px;
  line-height: 25px;
  *margin-top: 4px;
/* For IE7, add top margin to align select with labels */
  border: 1px solid #ccc;
  background-color: #fff;
}
#options_page #fansubber,
#options_page #animeplanet_input {
  width: 150px;
}
#options_page #animeplanet_input {
  display: none;
}
#options_page #main_title {
  width: 300px;
}
#options_page form#nyaa_options ul {
  list-style: none;
  margin-left: 0;
  padding-left: 2px;
}
#options_page form#nyaa_options ul li {
  margin: 7.5px 0;
}
#options_page form#nyaa_options input[type="checkbox"] {
  width: auto;
  margin: 4px 4px 0;
  line-height: normal;
}
#options_page form#nyaa_options button {
  margin-top: 10px;
}
#nyaa_main div.content a:visited {
  color: #999;
}
#nyaa_main div.content a:visited .highlight {
  background-color: #9acd05 !important;
}
#nyaa_main #topbar,
#nyaa_main #navbar {
  z-index: 101;
}
#nyaa_main .highlight {
  color: #800080;
  background-color: #ff0;
  font-weight: 300;
}
#nyaa_main #nyaajs_wrapper {
  position: relative;
  z-index: 100;
  float: right;
  right: 110px;
  font-size: 10px;
  color: #ccc;
}
#nyaa_main #nyaajs_showtimes {
  position: absolute;
  display: block;
  min-height: 300px;
  margin-top: 10px;
  float: right;
  border: 2px solid #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #333;
}
#nyaa_main #nyaajs_showtimes a {
  text-decoration: none;
}
#nyaa_main #nyaajs_showtimes a:hover {
  color: #0074ad;
}
#nyaa_main #nyaajs_showtimes table {
  border-spacing: 0;
  width: 230px;
  padding: 7px;
}
#nyaa_main #nyaajs_showtimes table thead {
  height: 0px;
  width: 0px;
  visibility: hidden;
}
#nyaa_main #nyaajs_showtimes table thead * {
  display: none;
}
#nyaa_main #nyaajs_showtimes table tbody tr {
  padding: 3px;
  width: 200px;
}
#nyaa_main #nyaajs_showtimes table tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
#nyaa_main #nyaajs_showtimes table tbody td {
  padding: 3px;
}
#nyaa_main #nyaajs_btn_sort,
#nyaa_main #nyaajs_btn_add {
  padding: 7px;
  color: #054;
  text-decoration: underline !important;
  float: right;
  cursor: pointer;
}
#nyaa_main #nyaajs_btn_sort:hover,
#nyaa_main #nyaajs_btn_add:hover {
  color: #ff6347 !important;
}
#nyaa_main .nyaajs_anime_planet {
  color: #ee82ee !important;
}
#nyaa_main .nyaajs_today {
  background-color: #ff0 !important;
}
.opt_animeplanet {
  display: none;
}
.nyaajs_nightmode {
  background-color: #333;
  color: #bbb;
}
.nyaajs_nightmode #nyaajs_showtimes a,
.nyaajs_nightmode .content a {
  color: #bbb !important;
}
.nyaajs_nightmode #nyaajs_showtimes a:hover,
.nyaajs_nightmode .content a:hover {
  color: #fff !important;
}
.nyaajs_nightmode .content {
  background-color: #444 !important;
  font-weight: 500;
}
.nyaajs_nightmode .content .tlistpages td b {
  color: #e1236a;
}
.nyaajs_nightmode .content .tlist a:visited {
  color: #9f84f3 !important;
}
.nyaajs_nightmode .content .tlist .tlisthead {
  color: #eee;
  line-height: 25px;
}
.nyaajs_nightmode .content .tlist .trusted {
  background-color: #324f0e !important;
}
.nyaajs_nightmode .content .tlist .remake {
  background-color: #450920 !important;
}
.nyaajs_nightmode .content .tlist .aplus {
  background-color: #094b54 !important;
}
.nyaajs_nightmode .torrentcats {
  width: 30%;
}
.nyaajs_nightmode div #nyaajs_showtimes a:hover {
  color: #fff !important;
}
.nyaajs_nightmode div #nyaajs_showtimes #nyaajs_btn_sort:hover,
.nyaajs_nightmode div #nyaajs_showtimes #nyaajs_btn_add:hover {
  color: #fff !important;
}
.nyaajs_nightmode div #nyaajs_showtimes tr:nth-child(odd) {
  background-color: #383838 !important;
}
.nyaajs_nightmode div #nyaajs_showtimes .nyaajs_anime_airday {
  color: #e1236a !important;
}
.nyaajs_nightmode div #nyaajs_showtimes .nyaajs_anime_planet {
  color: #48daec !important;
}
.nyaajs_nightmode div #nyaajs_showtimes .nyaajs_today .nyaajs_anime,
.nyaajs_nightmode div #nyaajs_showtimes .nyaajs_today .nyaajs_anime_planet {
  color: #000 !important;
}
.nyaajs_nightmode div .comment {
  background-color: #999;
  clear: both;
  color: #000;
  display: inline-block;
  min-width: 800px;
}
.nyaajs_nightmode div .tinfodescription {
  background-color: #383838;
}
.nyaajs_nightmode div td.tlisticon a img {
  height: 70%;
  width: 70%;
}
.nyaajs_nightmode .tinfodownloadbutton {
  background-color: #222;
  border: 2px solid #ff0;
  padding: 20px 0px;
  text-align: center;
}
.nyaajs_nightmode .tlistrow {
  font-size: 12px;
  font-weight: 400;
}
.nyaajs_nightmode .tlistsn {
  color: #a2e155;
  margin: 0px 2px;
}
.nyaajs_nightmode .tlistln {
  color: #e1236a;
}
.nyaajs_nightmode .tlistmn {
  color: #48daec;
}
.nyaajs_nightmode .viewtable tr:nth-child(3) a span,
.nyaajs_nightmode .viewtable .viewsn {
  color: #a2e155 !important;
}
.nyaajs_nightmode .viewtable .viewln {
  color: #e1236a;
}
.nyaajs_nightmode .viewdescription {
  background-color: #333;
}
