
html, body, #main {
    background-color: #222 !important;
}

a { color: #A8A8A8 !important; }
a:hover { color: tomato; }
a:visited { color: violet; }

div.content, .remake, .trusted, .aplus {
    background-color: #444 !important;
}

div.comment {
    background-color: #999;
    clear: both;
    color: black;
    display: inline-block;
    min-width: 800px;
}

div.tinfodescription {
    background-color: #383838;
}

td.tlisticon a img {
    height: 70%;
    width: 70%;
}

.tinfodownloadbutton {
    background-color: #222;
    border: 2px solid yellow;
    padding: 20px 0px;
    text-align: center;
}

.tlistsn {
    color: cornsilk;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 2px;
}

.trusted a:visited {
    color: skyblue !important;
    text-decoration: line-through;
}


/*********************************/

#topbar, #navbar {
    z-index; 20;
}

.highlight {
    color: purple;
    background-color: yellow;
    font-weight: 300;
}

#stu_wrapper {
    position: relative;
    z-index: -1;
    float: right;
    right: 100px;
    font-size: 10px;
    color: #ccc;
}

#stu_anime_list {
    min-width: 180px;
}

#stu_showtimes {
    position: absolute;
    display: block;
    max-width: 240px;
    min-height: 300px;
    float: right;
    background: #333;
}

#stu_btn, #btn_add_anime {
    padding: 7px;
    text-decoration: underline;
    float: right;
}

#stu_btn:hover {
    color: tomato;
}

#stu_showtimes a:visited {
    color: #A8A8A8;
}

#stu_showtimes ul {
    list-style-type: none;
    padding: 7px;
}

#stu_showtimes li {
    padding: 3px;
    width: 200px;
}

.stu_anime_planet {
    color: skyblue !important;
    margin-left: 3px;
}

.stu_today {
    color: yellow !important;
    text-decoration: underline;
}
