
body {
    background-color:#333;
    color: #CCC;
    width: 500px;
    min-height: 300px;
    font: 13px 'RobotoRegular', Arial, sans-serif;
    font-size:100%;
    line-height:1.7em;
    margin:0 auto;
}

